.--icon {
  width: 2em;
}

.bigansw,
.--btn {
  background-color: white;
  border: 1px solid black;
  border-radius: 1em;
  box-shadow: 0.2em 0.2em 0.2em 0em #000000;
  width: 15em;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.--btn a {
  position: relative;
}

.--btn img {
  position: absolute;
  bottom: 20%;
}
