.yourprof {
  margin: 10vh 3vw 10vh 3vw;
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 0px;
  height: 100%;
}

.profpic {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 3;
}
.profname {
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 5;
}
.aboutyou {
  grid-row-start: 4;
  grid-column-start: 1;

  grid-row-end: 6;
  grid-column-end: 5;
}
.skillhead {
  grid-row-start: 6;
  grid-column-start: 1;

  grid-row-end: 7;
  grid-column-end: 3;
}
.tag1 {
  grid-row-start: 7;
  grid-column-start: 1;

  grid-row-end: 8;
  grid-column-end: 2;
}
.tag2 {
  grid-row-start: 7;
  grid-column-start: 2;

  grid-row-end: 8;
  grid-column-end: 3;
}
.tag3 {
  grid-row-start: 7;
  grid-column-start: 3;

  grid-row-end: 8;
  grid-column-end: 4;
}
.tag4 {
  grid-row-start: 7;
  grid-column-start: 4;

  grid-row-end: 8;
  grid-column-end: 5;
}
.logout {
  grid-row-start: 8;
  grid-column-start: 2;

  grid-row-end: 9;
  grid-column-end: 4;
}

.profpic {
  max-width: 8em;
}
