.questcard {
  border: 1px solid black;
  box-shadow: 0em 0em 0.4em 0em #000000;
  border-radius: 2em;
  margin: 1em auto;
  padding: 1em;
  position: relative;
  max-width: 30em;
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  align-items: center;
  justify-content: center;

  gap: 2.5em;
  height: 50%;
}

.__h2 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 3;
}
.--icon {
  grid-row-start: 1;
  grid-column-start: 4;

  grid-row-end: 2;
  grid-column-end: 5;
}

.bookpos {
  position: absolute;
  right: 2em;
  top: -1.8em;
}
.question {
  max-width: 20em;
  margin-left: 5em;
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 5;
}
.bigansw {
  grid-row-start: 3;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 4;
  margin: 1em auto;
}
.tag1 {
  grid-row-start: 4;
  grid-column-start: 1;

  grid-row-end: 5;
  grid-column-end: 2;
  margin-left: 2em;
}
.tag2 {
  grid-row-start: 4;
  grid-column-start: 2;

  grid-row-end: 5;
  grid-column-end: 3;
  margin-left: 2em;
}
.tag3 {
  grid-row-start: 4;
  grid-column-start: 3;

  grid-row-end: 5;
  grid-column-end: 4;
  margin-left: 2em;
}
.tag4 {
  grid-row-start: 4;
  grid-column-start: 4;

  grid-row-end: 5;
  grid-column-end: 5;
  margin-left: 2em;
}

/* alles eingefügt für javascript */

.--bookmarked {
  background-color: rgba(200, 0, 0, 0.4);
  border-radius: 4px;
}

.unvisible {
  width: 15em;

  border: 1px solid black;
  background-color: rgba(0, 200, 0, 0.4);

  border-radius: 1em;
  padding: 0.5em;
  position: absolute;
  right: 7.5em;
  opacity: 0;
}

.visible {
  opacity: 1;
}
