.--icon {
  width: 2em;
  margin: 0.2em auto;
}

.bigansw {
  background-color: white;
  border: 1px solid black;
  border-radius: 1em;
  box-shadow: 0.2em 0.2em 0.2em 0em #000000;
  width: 15em;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.--btn {
  background-color: white;
  border: 1px solid black;
  border-radius: 1em;
  box-shadow: 0.2em 0.2em 0.2em 0em #000000;
  width: 8em;
  height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.--btn:hover {
  background-color: rgba(0, 0, 200, 0.4);
  transition: 450ms;
}

.--btn a {
  position: relative;
}

.--btn img {
  position: absolute;
  bottom: 20%;
}

.background_green {
  background-color: rgba(0, 200, 0, 0.4);
}

.background_red {
  background-color: rgba(200, 0, 0, 0.4);
}
