.mainsec {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 13vh;
}
.call2act {
  margin: 2em 0 1em 0;
}

.input {
  min-height: 6em;
  width: 35em;
  border-radius: 1em;
  box-shadow: 0.2em 0.2em 0.2em 0em #000000;
}
